body {
    .btn-telas{
        display: inline-block;

        padding: 20px 60px;
        margin: 10px;

        background-color: var(--cor-vinho);
        color: white;
        text-decoration: none;
        border-radius: 10px;
    }

    .btn-telas:hover{
        background-color: var(--cor-vinho-hover);

        transform: scale(1.05);
        transition: all 0.3s ease;
        
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}