:root{
    --primary-color: #eeeeee;
    --secondary-color: #808080;
    --realce: #007bff;
    --cor-vinho: #900000;
    --cor-vinho-hover: #b30000;
    --cor-cinza-claro: #cbcbcb;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}